
<!-- Footer -->
<div id="footer">
    <div class="container">

        <div class="row">
            <div class="12u">

                <!-- Contact -->
                <section class="contact">
                    <header>
                        <h3><a href="{{ url('homepage') }}" id="logo"><p>{{ app.config.get('theme/title') }}</p></a></h3>
                    </header>
                    <p>{{ l('slogan_long') }}</p>
                    <ul class="icons">
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-envelope"><span class="label">Mail</span></a></li>
                        <li>
                            <a href="{{ app.config.get('general/reserves/meeting/url') }}" target="_blank" class="icon fa-map-marker">
                                <span class="label">Marker</span>
                            </a>
                        </li>
                    </ul>
                </section>

                <!-- Copyright -->
                <div class="copyright">
                    <ul class="menu">
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>