<h1>Jerez Free City Tours</h1>

<h3>Nueva reserva</h3>

El usuario <b>{{ reserve.name }}</b> acaba de hacer una reserva para <b>{{ reserve.persons }} personas</b> para el día <b>{{ reserve.date }}</b>

<hr />
<code style="display: block">
    {{ reserve.contact }}
</code>
