<h1>Jerez Free City Tours</h1>

<h3>Nueva reserva</h3>

El usuario <b>{{ name }}</b> acaba de hacer una reserva para <b>{{ persons }} personas</b> para el día <b>{{ date }}</b> a las <b>{{ time }}</b>

